body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #134bba, #97e235);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  padding: 20px;
  width: 80%;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: rgba(230, 95, 95, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
